:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
}

/* ------retreat------  */
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* ------body------  */
body {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  background: var(--white);
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
}
img {
  display: block;
}

.list {
    display: flex;
  gap: 24px;
  justify-content: center;
}
.work-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
.link {
  text-decoration: none;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
/* ------header------ */
.header-box {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: var(--portfolio-bgc);
    border-bottom-width: 1px;
    /*  контур елемента 
      outline: 2px solid red;
      outline-offset: -2px; */
  }
.header {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: var(--portfolio-bgc);
    border-bottom-width: 1px;
    border-bottom: 1px solid #e7e9fc
}
.header-container {
  display: flex;
  align-items: center;
}
.page-navigation {
    display: flex;
    align-items: center;
  /* flex-grow: 1; */
  /* margin-right: auto; */
}
.nav {
    display: flex;
    align-items: center;
  }
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-link {
    margin-right: 76px;
    color: var(--iris);
    display: inline-block;
    margin-bottom: 16px;
    
}

.studiologo {
  color: var(--navy-blue);
  
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: flex;
  padding: 24px 0;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}
.contacts {
  font-style: normal;
  list-style: none;
  display: flex;
  gap: 40px;
}
.contact-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}
/* ------header------ */

/* -----hero----- */
.hero {
  background-color: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: 0 auto 48px auto;
  max-width: 496px;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
}
.hero .btn:hover,
.hero .btn:focus {
  background: var(--ocean);
}
/* ------hero------ */

/* ------specials------ */

.description {
    padding-top: 120px;
  }

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* ------what are we doing------ */
.subject {
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-size: 36px;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.subject-team-list {
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-size: 36px;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-group {
  background-color: var(--white);
  flex-basis: calc((100% - 72px) / 4);
  border: #e7e9fc;
  /* border-width:  1px;
  border-style: solid; */
  /* Тінь навколо ракмок: */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/* ------what are we doing------ */

/* ------team------ */
.team {
  background-color: var(--cloud);
  padding-top: 120px;
  text-transform: capitalize;
}
.team-list {
  background-color: var(--cloud);
}
.team-member {
  padding: 32px 16px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.list-team {
    list-style-type: none;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    /* padding-left: 0px; */
  }

/* ------team------ */

/* ------footer------*/
.footer-style {
  background: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  color: var(--cloud);
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}
/* ------footer------*/

.btn-port {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}
.btn-port:hover,
.btn-port:focus {
  color: var(--white);
  background-color: var(--ocean);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  background-color: var(--white);
  margin-bottom: 8px;
}
.scroll-box {
  flex-basis: calc((100%-72px) / 4);


}
.container-portfolio {
    padding: 96px 0 120px;
    /*  контур елемента 
    outline: 2px solid red;
    outline-offset: -2px; */
  }
  .portfolio-work {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-decoration: none;
  }
