:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
}

/* ------retreat------  */
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* ------body------  */
body {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  background: var(--white);
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
}
img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ------header------ */
.header {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: var(--portfolio-bgc);
    border-bottom-width: 1px;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
    display: flex;
    align-items: center;
  }
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo link {
  color: var(--iris);
}

.studiologo {
  color: var(--navy-blue);
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}
.contacts {
  font-style: normal;
}
.contact-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}
/* ------header------ */

/* -----hero----- */
.hero {
  background-color: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: 0 auto 48px auto;
  max-width: 496px;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
}
.hero .btn:hover,
.hero .btn:focus {
  background: var(--ocean);
}
/* ------hero------ */

/* ------specials------ */

.description {
    padding-top: 120px;
  }

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* ------what are we doing------ */
.subject {
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-size: 36px;
  color: var(--navy-blue);
}

.subject-team-list {
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-size: 36px;
  color: var(--navy-blue);
}

.team-group {
  background-color: var(--white);
}
/* ------what are we doing------ */

/* ------team------ */
.team {
  background-color: var(--cloud);
}
.team-list {
  background-color: var(--cloud);
}
.team-member {
  padding: 32px 16px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

/* ------team------ */

/* ------footer------*/
.footer-style {
  background: var(--navy-blue);
}
.logo-footer {
  color: var(--cloud);
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
/* ------footer------*/

.btn-port {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}
.btn-port:hover,
.btn-port:focus {
  color: var(--white);
  background-color: var(--ocean);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  background-color: var(--white);
}
.scroll-box {
  flex-basis: calc((100%-72px) / 4);
  /* gap: 24px; */
}
